@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* --- MOBILE --- */
@media (max-width: 600px) {
    html, body {
        height: 100%;
    }

    body {
        padding: 1rem;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header {
        height: auto;
        border-bottom: none;
        padding-bottom: 1rem;
        position: relative;
        text-align: center;
    }

    .between {
        font-size: 1.2rem;
        position: static;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .btn.again {
        position: static;
        display: block;
        width: 100%;
        font-size: 1.6rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2.4rem;
        position: static;
        transform: none;
        margin-bottom: 1rem;
    }

    main {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .left {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .number {
        position: relative;
        width: 14rem;
        height: 14rem;
        font-size: 6rem;
        padding: 2rem;
        margin: 0;
        background-color: #eee;
        color: #222;
        display: flex;
        align-items: center;
        justify-content: center;
    }




    .game-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .message {
        font-size: 1.6rem;
        text-align: center;
    }

    .score-label,
    .highscore-label {
        font-size: 1.6rem;
        text-align: center;
    }

    .guess {
        width: 100%;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .btn.check {
        width: 100%;
        padding: 1.2rem;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}




